body,ul,li {
	padding:0px;
	margin:0;
}

body {
	background-image:url(../images/fondo.jpg)
}

#wrapper {
	width:100%;
	float:left;
	position:absolute;
	z-index:1;
	overflow:hidden;

}

#scroller {
	float:left;
}

#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
}

#scroller li {
	display:block;
	float:left;
	text-align:center;
}
